<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="static/javascript/script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/decideur" enctype="multipart/form-data">
      <input
        class="mybutton"
        name="Decideur 1"
        value="Decideur 1"
        type="submit"
      />
      <input
        class="mybutton"
        name="Decideur 2"
        value="Decideur 2"
        type="submit"
      />
      <input
        class="mybutton"
        name="Decideur 3"
        value="Decideur 3"
        type="submit"
      />
      <input
        class="mybutton"
        name="Decideur 4"
        value="Decideur 4"
        type="submit"
      />
    </form>
  </body>
</html>
