{% extends "pages/landingpage.html" %}

{% block content %}
    <div class="bg-red-600 p-10">
    <h1 class="text-center">{{ decideur }}</h1>  
    </div>
    
    <br>
    <h1 class="header1">Matrice de Preference</h1>
    <table>
      {% for i in range(matrix|length) %}
      <tr>
        <th>{{ categories[i]}}</th>
        {% for cell in matrix[i] %}
        <!-- <td>{{ element }}</td> -->
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <form action="/decideur" method="post">
      <input
        type="submit"
        value="calculer promthee"
        class="mybutton"
        name="calculer"
      />
    </form>
    {% if rank|length !=0 %}
    <table>
      <th>Rank</th>

      {% for i in range(rank|length) %}

      <td>{{rank[i]}}</td>

      {% endfor %}

      <tr>
        <th>index</th>
        {% for i in range(rank|length) %}
        <td>{{ index[i] }}</td>
        {% endfor %}
      </tr>
    </table>
    {% endif %}

{% endblock %}