<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="static/javascript/script.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>{{ decideur }}</h1>
    <h1 class="header1">Matrice de Preference</h1>
    <table>
      {% for i in range(matrix|length) %}
      <tr>
        <th>{{ categories[i]}}</th>
        {% for cell in matrix[i] %}
        <!-- <td>{{ element }}</td> -->
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <form action="/decideur" method="post">
      <input
        type="submit"
        value="calculer promthee"
        class="mybutton"
        name="calculer"
      />
    </form>
    {% if rank|length !=0 %}
    <table>
      <th>Rank</th>

      {% for i in range(rank|length) %}

      <td>{{rank[i]}}</td>

      {% endfor %}

      <tr>
        <th>index</th>
        {% for i in range(rank|length) %}
        <td>{{ i }}</td>
        {% endfor %}
      </tr>
    </table>
    {% endif %}
  </body>
</html>
