.container {
  width: 60%;
  margin: 0 auto;
}
.header{
  background-color: white;
  width: 100%;
}
.displayRow{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
body{
  background-color: #D9D9D9;
}
h1,h3 {
  margin-top: 0;
  text-align: center;
  /* display: inline; */
}
p{
  display: inline;
}
.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#rows,
#columns {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#rows:focus,
#columns:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #3e8e41;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.header-input {
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
}

#myTable {
  margin-top: 30px;
}

th,
td {
  border: 1px solid black;
  height: 25px;
  /* padding: 8px; */
  text-align: center;
}
.cellHeight{
  height: 20px;
}
.editable-cell {
  background-color: #f2f2f2;
  outline: none;
}
.pageCenter {
  justify-content: center;
  width: 100%;
}
.mybutton {
  padding: 10px;
  margin: 10px;
  /* color: #66afe9; */
  /* background-color: green; */
  border-radius: 10px;
  border: none;
  
}
.mybutton:hover{
  background-color: gray;
}

.navcontainer{
  display: flex;
  flex-direction: row;
  background-color: #4caf50;
}

.fitContent {
  width: fit-content;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.transparent {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
